.button-box {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border-radius: 5px;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

